.forum-page {
    display: flex;
    width: 100%;
}

.categories {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.widget-container {
    width: 30%;
    height: 300px;
    margin: 15px;
    display: flex;
    align-items: flex-start;
}