.category {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .category-header {
    background: linear-gradient(to right, #970cf3, #5a02ac);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .category-header h1 {
    color: white;
    font-size: 24px;
    margin: 0;
  }
  
  .category-header p {
    color: white;
    font-size: 16px;
    margin: 8px 0 0 0;
  }
  
  .topic-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: auto;
    display: inline;
  }
  
  .topic-list li {
    padding: 16px;
    text-decoration: 'none';
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .topic-list li:last-child {
    border-bottom: none;
  }
  
  .topic-list li Link{
    text-decoration: 'none';
  }

  .topic-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topic-info li {
    width: 80%;
}

.topic-meta-info{
    text-align: right;
    margin: 0;
}
    
    .topic-info li:last-child {
    border-bottom: none;
    }
    
    .topic-info span {
    margin-left: 15px;
    }
    
    