.topic-replies {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.reply-container {
  margin-top: 10px;
  padding: 10px;
}

.reply-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.reply-username {
  font-weight: bold;
}

.reply-timestamp {
  color: gray;
}

.reply-content {
  background-color: #383a65;
  padding: 20px;
  border-radius: 10px;
}
